
:root {
    --width-scale: min(500px, 80vw, 80vh);
    --height-scale: calc(var(--width-scale) * 0.8);
    --game-title-size: min(calc(var(--height-scale) * 0.1)), 2em;
    --title-margin-bottom: calc(var(--height-scale) * 0.25);
}


#craps-game {
    background-image: url('../images/kvnga-vBWsG91aR_U-unsplash.jpg');
    color: white;
    background-position: center top;
    padding: 25px;
}
.craps-game-title {
    font-size: var(--game-title-size);
    text-align: center;
    margin-top: calc(calc(100vh - var(--game-title-size) - var(--title-margin-bottom) - var(--height-scale)) / 1.5);
    margin-bottom: var(--title-margin-bottom);
}
.craps-game-container {
    width: var(--width-scale);
    height: var(--height-scale);
    border: solid white 2px;
    margin: 0 auto;
    background-image: url('../images/hush-naidoo-jade-photography-ax_jJpHdYjI-unsplash.jpg');
    background-size: cover;
    background-position: center top;
    position: relative;
}
#craps-game-registration {
    text-align: center;
    margin-top: calc(var(--height-scale) * 0.1);
    font-size:calc(var(--game-title-size) * 0.25);
}
.craps-registration-input {
    background: none;
    border: none;
    border-bottom: solid white 1px;
    margin: 25px 0;
    color: white;
    text-align: center;
    margin: calc(var(--height-scale) * 0.055) 0;
    font-size:calc(var(--game-title-size) * 0.25s);
}
.craps-registration-input:focus {
    outline-width: 0;
}

.craps-registration-continue:hover {
    cursor: pointer;
    font-weight: bold;
}
#craps-main-section {
    display: none;
    height: 100%;
}
.craps-main-section-starts{
    text-align: center;
    font-size: calc(var(--height-scale) * 0.05);
    margin-top: calc(var(--height-scale) * 0.1);
}
#craps-starts-money-container {
    font-size: calc(var(--height-scale) * 0.1);
    margin-top: calc(var(--height-scale) * 0.05);
    
}
.craps-round-manager{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: calc(var(--height-scale) * 0.04);
    font-size: calc(var(--height-scale) * 0.05);
    border: solid blue 2px;
}