
:root {
    --width-scale: min(500px, 80vw, 80vh);
    --height-scale: calc(var(--width-scale) * 0.8);
    --game-title-size: min(calc(var(--height-scale) * 0.1)), 2em;
    --title-margin-bottom: calc(var(--height-scale) * 0.25);
}

#craps-game {
    background-image: url('../images/kvnga-vBWsG91aR_U-unsplash.jpg');
    color: white;
    background-position: center top;
    padding: 25px;
}

.craps-game-title {
    font-size: var(--game-title-size);
    text-align: center;
    margin-top: calc(calc(100vh - var(--game-title-size) - var(--title-margin-bottom) - var(--height-scale)) / 1.5);
    margin-bottom: var(--title-margin-bottom);
}

.craps-game-container {
    width: var(--width-scale);
    height: var(--height-scale);
    border: solid white 2px;
    margin: 0 auto;
    background-image: url('../images/hush-naidoo-jade-photography-ax_jJpHdYjI-unsplash.jpg');
    background-size: cover;
    background-position: center top;
    position: relative;
}

#craps-game-registration {
    text-align: center;
    margin-top: calc(var(--height-scale) * 0.1);
    font-size:calc(var(--game-title-size) * 0.25);
}

.craps-registration-input {
    background: none;
    border: none;
    border-bottom: solid white 1px;
    margin: 25px 0;
    color: white;
    text-align: center;
    margin: calc(var(--height-scale) * 0.055) 0;
    font-size:calc(var(--game-title-size) * 0.25s);
}

.craps-registration-input:focus {
    outline-width: 0;
}

.craps-registration-continue:hover {
    cursor: pointer;
    font-weight: bold;
}

#craps-main-section {
    display: none;
    height: 100%;
}

.craps-main-section-starts{
    text-align: center;
    font-size: calc(var(--height-scale) * 0.05);
    margin-top: calc(var(--height-scale) * 0.1);
}

#craps-starts-money-container {
    font-size: calc(var(--height-scale) * 0.085);
    margin-top: calc(var(--height-scale) * 0.02);
    
}
.craps-on-table-container{
    margin-top: calc(var(--height-scale) * 0.15);
    font-size: calc(var(--height-scale) * 0.04);
    text-align: center;
    
}

.craps-round-manager{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: calc(var(--height-scale) * 0.04);
    font-size: calc(var(--height-scale) * 0.05);
    -webikt-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.craps-roll-dice-container{
    width: fit-content;
    margin: 0 auto;
   
}

.craps-roll-dice-container:hover{
    cursor: pointer;
    transform: scale(1.1);
    -webikt-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#craps-roll-dice-animation-container{
    margin-top: calc(var(--height-scale) * -0.1);
    margin-left: calc(var(--height-scale) * -0.2);
}

.craps-betting-grid{
    display: grid;
    grid-template-columns: 33% auto 33%;
    width: 80%;
    margin: 0 auto;
    border: solid white 2px;
    border-radius: 5px;
}

.craps-bet-button, .craps-round-finish-button{
    padding: calc(var(--height-scale) * 0.015);
}

.craps-bet-button:hover, .craps-round-finish-button:hover{
    cursor: pointer;
    font-weight: bold;
}

.craps-bet-amount-container{
    padding: calc(var(--height-scale) * 0.015);
    border-right: solid white 2px;
    border-left: solid white 2px;
    background-color: rgba(0, 0, 0, 0.5);
}

#craps-user-bet-amount{
    margin: 0 calc(var(--height-scale) * 0.02);
}

.craps-user-bet-amount-change:hover{
    cursor: pointer;
    font-weight: bold;
}

.craps-round-finish-grid{
    display: grid;
    grid-template-columns: 33% auto 33%;
    width: 80%;
    margin: 0 auto;
    border: solid white 2px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: calc(var(--height-scale) * 0.04);
}
#craps-round-finish-message{
    padding: calc(var(--height-scale) * 0.015);
    border-right: solid white 2px;
    border-left: solid white 2px;
    background-color: rgba(0, 0, 0, 0.5);
}
#craps-next-round-button-disabled{
    background-color: rgba(0, 0, 0, 0.5);
    color: grey;
}
#craps-next-round-button-disabled:hover{
    cursor: not-allowed;
}