#craps-game {
    background-image: url('../images/kvnga-vBWsG91aR_U-unsplash.jpg');
    color: white;
    background-position: center top;
}
.craps-game-title {
    text-align: center;
    margin-top: 60px;
}
.craps-game-container {
    width: min(500px, 80vw);
    height: min(400px, 64vw);
    border: solid white 2px;
    margin: 50px auto 0 auto;
    background-image: url('../images/hush-naidoo-jade-photography-ax_jJpHdYjI-unsplash.jpg');
    background-size: cover;
    background-position: center top;
}
#craps-game-registration {
    margin-top: 45px;
    text-align: center;
}
.craps-registration-input {
    background: none;
    border: none;
    border-bottom: solid white 1px;
    margin-top: 25px;
    color: white;
    text-align: center;
}
.craps-registration-input:focus {
    outline-width: 0;
}
.craps-registration-continue {
    margin-top: 25px;
}
.craps-registration-continue:hover {
    cursor: pointer;
    font-weight: bold;
}
#craps-main-section {
    display: none;
}