 div{
        text-align: center; margin-top: 50px;
}

body{background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRggGGjq-ecHM-a2rm2ZhKO3wvU2RPz34OWMg&s");
    background-size: cover; 
}

h1{color:aqua}


button:hover{color:rgb(162, 109, 109); 
    background-color:rgb(92, 89, 89);
    font-size: 1.1em;
    cursor: pointer;
}