:root{
    --titleSectionPrimaryColor: white;
    --titleSectionSecondaryColor: rgb(109, 173, 192);
    --titleSectionTertiaryColor: rgb(2, 127, 142);
}

#title{
        text-align: center;
        color: var(--titleSectionPrimaryColor);
        padding-top: 20px;
        background-image: url("https://images.unsplash.com/photo-1495312040802-a929cd14a6ab?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Y2xlYW4lMjB3YWxscGFwZXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=1000");
        background-position: center top;
    }
.title-section-button{
    background-color: transparent;
    color: var(--titleSectionPrimaryColor);
    border: solid var(--titleSectionPrimaryColor) 1px;
    padding: 5px 10px;
    border-radius: 5px;
}

.title-section-header{
    margin-bottom: -17px;
}
.title-section-subtitle{
    margin-bottom:30px ;
}

h1{color: var(--titleSectionPrimaryColor)}


.title-section-button:hover{
    background-color:var(--titleSectionPrimaryColor);
    color: var( --titleSectionSecondaryColor);
    cursor: pointer;
    
}