.main {
    width: 100%;
    display: block;
    position: relative;
    padding: 50px 0;
    clear: both;
}

body, html {
    overflow-x: hidden;
}
#aboutme{
    text-align: center;
    overflow-x: hidden;
}
.container{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0 ;
}
.description{
   text-align: justify;
   margin-top: 30px;
}
@media screen and (max-width: 600px) {
    div.example {
        display: none
    }  
}
.icons{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.icons > a{
    text-decoration: none;
}
.icon{
    margin: 5px;
    color:var(--titleSectionSecondaryColor)
    
}
.icon:hover{
    cursor: pointer;
    color: var(--titleSectionTertiaryColor)
}
.cv > a{
    color: black;
}