#aboutme{
    text-align: center;
    
}
.text-block-container{
    width: 65%;
    margin: 0 auto;
    padding: 40px 0 ;
}
.aboutme-section-description{
   text-align: justify;
   margin-top: 40px;
}
@media screen and (max-width: 600px) {
    .text-block-container {
        width: 100%
    }  
}
.aboutme-icons{
    font-size:25px;
    margin-top: 45px;
    margin-bottom: 25px;
}
.aboutme-icons > a{
    text-decoration: none;
}
.aboutme-icon{
    margin: 10px;
    color:var(--titleSectionSecondaryColor)
    
}
.aboutme-icon:hover{
    cursor: pointer;
    color: var(--titleSectionTertiaryColor)
}
.aboutme-download-link > a{
    color: black;
}