:root {
    --width-scale: min(500px, 80vw, 80vh);
    --height-scale: calc(var(--width-scale) * 0.8);
    --aboutme-size: min(calc(var(--height-scale) * 0.1)), 2em;
    --aboutme-margin-bottom: calc(var(--height-scale) * 0.25);
}
#aboutme{
    text-align: center;
    
}
.container{
    width: var(--width-scale);
    height: var(--height-scale);
    margin: 0 auto;
    padding: 40px 0 ;
    font-size: calc(var(--aboutme-size) * 0.25);
    margin-top: calc(calc(100vh - var(--aboutme-size) - var(--aboutme-margin-bottom) - var(--height-scale)) / 1.5);
    margin-bottom: var(--aboutme-margin-bottom);
}
.description{
   text-align: justify;
   margin-top: 30px;
}
@media screen and (max-width: 600px) {
    div.example {
        display: none
    }  
}
.icons{
    font-size: calc(var(--height-scale) * 0.08);
    margin-top: calc(var(--height-scale) * 0.15);
    margin-bottom: var(--aboutme-margin-bottom);
}
.icons > a{
    text-decoration: none;
}
.icon{
    margin: 5px;
    color:var(--titleSectionSecondaryColor)
    
}
.icon:hover{
    cursor: pointer;
    color: var(--titleSectionTertiaryColor)
}
.cv{
    font-size: calc(var(--height-scale) * 0.05);
    margin-top: calc(var(--height-scale) * 0.025);
    
}
.cv > a{
    color: black;
}